<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TurtleMint Test Suite">
    <test verbose="2" preserve-order="true" name="Test Suite">
        <classes>
            <class name="TurtleMint_Test">
                <parameter name="site" value="Turtlemint"/>
            </class>
            <class name="FlipKart_Test">
                <parameter name="site" value="Flipkart"/>
            </class>
        </classes>
    </test>
</suite>